#header{
  background-image: url('../../assets/images/pp-main-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  text-align: center;
  display: flex;
  .banner_content{
    padding-top: 225px;
    color: $white_color;
    max-width: 710px;

    h4{
         padding-bottom: 5px;
         text-transform: uppercase;
       }
    h1{
      line-height: 76px;
      padding-bottom: 25px;
    }
    p{
      padding: 0 30px;
      margin-bottom: 58px;
    }
  }

}