nav{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 100;
  .menu_logo{
    float:left;
    padding: 23px 0;
  }
  .menu{
    float:right;
    padding: 32px 0;
    text-align: right;
  }
  a{
    color: $white_color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    //font-weight: bold;
    //font-family: 'MilluniumBold', sans-serif;
    padding: 0 15px;
  }
  a:last-child{
    padding-right: 0;
  }
}