#tournament{
  background: $grey_color;
  padding-top: 103px;
  display: flex;

  .box_white{
    z-index: 11;
    background: $white_color;
    border-radius: 5px;
    padding: 48px;
    box-shadow: $shadow;
    h4{
      color: $black_color;
      opacity: 0.5;
      text-transform: uppercase;
      padding-bottom: 11px;
    }
    h3{
      padding-bottom: 23px;
    }
    p{
      padding-bottom: 33px;
    }
  }

  .box_green{
    padding: 40px;
    z-index: 23;
    border-radius: 5px;
    margin: 0 36px 0 64px;
    background: $primary_color;
    color:$white_color;
    h4{
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 29px;
    }
    .count_box{
      float:left;
      text-align: center;
    }
    h5{
      padding: 0 15px;
    }
  }

  .box{
    float: left;
    display: grid;
  }
  .box_img{
    z-index: 10;
    margin-top: 80px;
    margin-left: -80px;
    background-image: url('../../assets/images/pp-foosball-match.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 462px;
    border-radius: 5px;
  }
}