//color page
$white_color : #fff;
$black_color : #000;
$grey_color : #F4F4F4;
$primary_color : #3EAD48;
$secondary_color : #1E3066;

//shadow
$shadow : 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
//breakpoints
